@import 'reset/reeeset.min.css';

body {
  background: black;
  font-size: responsive;
}

div {
  lost-column: 1/3;
}

p {
  background: pink;
  text-align: center;
}

#fred {
  background: yellow;
}
