extends ./_layout.jade

block title
  title Sites web des développeurs du Québec

block content
  h1 Sites web des développeurs du Québec

  p.
    Données sur #{data.length} sites,
    dont #{data200.length} avec un HTTP status code de 200.
