extends ./_layout.jade

block title
  title Sites web des développeurs du Québec

block content
  h1 Sites web des développeurs du Québec

  p.
    Données sur #{data.length} sites,
    dont #{data200.length} avec un HTTP status code de 200.

  script
    -
      const data2 = data
        .filter((x) => x.http_status === 200)
        .map((x) => {
          x._key = x.plugins.HTTPServer &&
            x.plugins.HTTPServer.string &&
            x.plugins.HTTPServer.string[0] &&
            x.plugins.HTTPServer.string[0].slice(0, 5)
          return x
        })

      counts = countBy(data2, '_key')
      myData = sortBy(
        Object.keys(counts)
          .map((x) => { return { letter: x, frequency: counts[x] } }),
        'frequency'
      ).reverse().slice(0, 20)
    != 'myData = ' + JSON.stringify(myData, null, ' ')
