extends ./_layout.jade

block title
  title Hehaaamwaha

block content
  section#highlights
    div
      p Flagadsad
    div
      p One uptown for a times.
    div
      p One uptown for a times.

  footer
    p Until à la prochaine :-)
